
# dependencies
node_modules/

# production
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env

# editor
.vscode/
.idea/

# operating system
.DS_Store
Thumbs.db

# coverage
coverage/

# vite
.vite/